HOST=127.0.0.1
PORT=3333
NODE_ENV=development

CLIENT_URL=http://127.0.0.1:3000

APP_NAME=AdonisJs
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DATABASE_URL=
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

HASH_DRIVER=bcrypt

SMTP_HOST=
MAIL_FROM=
MAIL_USERNAME=
MAIL_PASSWORD=